.box {
  border: 1px solid black;
  box-sizing: border-box;
  padding: 15px 50px 50px 35px;
  width: 380px;
  text-align: justify;
}

.duck1 {
  float: left;
}

.duck2 {
  float: right;
}

hr {
  border: 1px solid black;
}
